<!DOCTYPE html>
<!--로그인 화면-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type="application/atom+xml" title="Atom">
    
    <title>Login</title>
</head>
<body>
    <label for="id">id</label>
    <input id="id" type="id" value="">
    <br>
    <label for="password">password</label>
    <input id="password" type="password" value="">
    <br>
    <input type="button" value="submit">
    <li>가입이 되지 않으셨나요?</li>
    <a href="/register">회원가입</a>
    <script type="text/javascript" src="/login.js"></script>
</body>
</html>