<!DOCTYPE html>
<!--로그인 화면-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type="application/atom+xml" title="Atom">
    
    <title>Login</title>
</head>
<body>
    <div id="wrap">
        <div id="header" class="join_membership" role="banner">
            <h1>
                
                <span class="blind">Login</span>
            
            </h1>
        </div>
        <form id="login_form" action="" method="post">
            <div id="container" role="main">
                <div class="login_row">
                    <h3 class="login_title">
                        <label for="id">아이디</label>
                    </h3>
                    <span class="ps_box int_id">
                        <input type="text" id="id" name="id" class="int" title="ID" maxlength="20">
                        <span class="step_url"></span>
                    </span>
                </div>

                <div class="login_row">
                    <h3 class="login_title">
                        <label for="pswd">비밀번호</label>
                    </h3>
                    <span class="ps_box int_pass">
                        <input type="password" id="pswd" name="pswd" class="int" title="비밀번호 입력" value="" maxlength="20">
                        <span class="step_url"></span>
                    </span>
                </div>

                <div class="btn_area">
                    <button type="button" id="btnlogin" class="btn_type btn_primary">
                        <span>로그인</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <a href="/register">회원가입</a>
    <script type="text/javascript" src="/login.js"></script>
</body>
</html>